name: Continuous Integration

on: [push]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          target: wasm32-wasip1
          components: rustfmt, clippy

      - name: Run cargo-audit binary crate
        uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: cargo build --release --all-features

      - name: Documentation
        run: cargo doc

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features